@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #148c23;
}
.body{
    font-family: 'Montserrat', sans-serif;
    
}
header{
    width: 100%;
    
  
}

.header .main {
    width: 90%;
    margin: 0 auto;
    
}

.navbar {
    margin-top: 30px;
    
}

.navbar .brand{
    display: flex;
    margin: 20px 70px;
    color: #f41345;
    
}

.navbar .brand i{
    margin-right: 5px;
    font-size: 25px;
}

.navbar .brand h3{
    font-size: 25px;  
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    margin: -50px 20px;
   
}
.menu ul li{
    list-style: none;
    margin-right: 40px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar .toggle-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px ;
    margin-right: 15px;
    
  }
  .navbar .toggle-menu i{
      font-size: 30px;
      cursor: pointer;
      color: #fff;
      display: none;
  }

  @media(max-width:700px){
      .navbar .toggle-menu i{
          display: block;
          margin: -55px 30px;
      }
      .navbar .menu ul{
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          height: 100%;
          position: fixed;
          z-index: 1;
          background-color: #148c23;
          margin-top: 30px;
          transform: translateX(-160%);
          transition: 0.5s ease-in-out;
      }
      .navbar .menu ul li{
          margin: 20px;
          text-transform: uppercase;
      }
      .navbar .menu .menu-on {
          transform: translateX(0%);
      }
  }
